
body{
    background-color: whitesmoke;
    margin: 0 auto;
    font-family: 'Arial';
    color: black;
}

#header{
    background-color: white;
    margin-left: 15%;
    padding-top: 30px;
    margin-top: 30px;
    width: 900px;
}

h1{
 text-align: center;
 margin-top: 5%;
 margin-right: 10%;
 background-color: white;   
}

h2{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 40px;
    font-weight: bold;
}

textarea{
    padding: 10%;
    border: dashed 1px gray;
    margin-left: 10%;
    padding-left: 14%;
    padding-right: 14%;
    width: 50%;
    text-align: center;
    color: black;
    font-size: 18px;
}

#password{
    color:black;
    font-family: 'Times New Roman', Times, serif;
}

#bottun{
    margin-top: 20px;
}
